language: julia
os:
  - linux
julia:
  - 0.6
  - nightly
notifications:
  email: false
after_success:
  - julia -e 'cd(Pkg.dir("IterTools")); Pkg.add("Documenter"); include(joinpath("docs", "make.jl"))'
  - julia -e 'cd(Pkg.dir("IterTools")); Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
