name: Documenter
on:
    push:
        branches: [master]
        tags: [v*]
    pull_request:

jobs:
    Documenter:
        name: Documentation
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: julia-actions/setup-julia@v1
              with:
                version: 1.8
                show-versioninfo: true
            - uses: julia-actions/julia-buildpkg@v1
            - uses: julia-actions/julia-docdeploy@v1
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
